body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    color: rgb(210, 210, 210);
}
h2{
    font-size: 50px;
}
small{
    font-size: 24px;
    color: rgb(210, 198, 204);
}
p{
    color: gray;
}
hr{
    width: 540px;
    text-align: center;
    color: gray;
}
.first-donate{
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.first-div-donate{
    text-align: center;
    padding: 12%;
}
.first-donate-btn{
    padding: 10px 15px;
    background-color: #f51340;
    border: none;
    border-radius: 5px;
}
.first-donate-btn a{
    text-decoration: none;
    color: rgb(251, 232, 232);
    font-weight: 600;
}

.donate-today-container{
    text-align: center;
}
.donate-taka-div{
    display: flex;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.donate-taka{
    background-color: #eee7e8;
    border-radius: 3px;
    text-align: center;
    height: 48px;
    width: 170px;
    padding-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 7px;
}
.donate-taka a{
    text-decoration: none;
    color: #706f6e;
}
.donate-taka-red{
    background-color: #f1b9b9;
    border: 2px solid crimson;
    border-radius: 3px;
    color: #ff2600;
    text-align: center;
    height: 48px;
    width: 150px;
    padding-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 7px;
}
.donate-taka-red a{
    text-decoration: none;
    color: #f01d47;
}
.other-amount-div{
    text-align: center;
    color: gray;
}
.other-amount{
    text-decoration: none;
    color: gray;
    border: none;
    height: 25px;
    width: 200px;
    outline: none;
}

.donate-container{
    margin-top: 100px;
    text-align: center;
}
.donate-planing-container{
    display: flex;
    padding-left: 5%;
}

.planing-list-one{
    text-align: left;
    background-color: #a1b9b6da;
    border-radius: 5px;
    padding-left: 2%;
    margin-right: 3%;
    height: 350px;
    margin-bottom: 100px; 
}
.plan-food-family{
    margin-top: 60px;
}

.planing-list-two{
    text-align: left;
    background-color: #e8c7c7d3;
    border-radius: 5px;
    padding-left: 2%;
    margin-right: 3%;
    height: 350px;
    margin-bottom: 100px; 
}
.plan-shelter-family{
    margin-top: 60px;
}
.planing-list-three{
    text-align: left;
    background-color: #ebf19ed2;
    border-radius: 5px;
    padding-left: 2%;
    margin-right: 3%;
    height: 350px;
    margin-bottom: 100px; 
}
.plan-frame-family{
    margin-top: 60px;
}
.donate-plan-pragraph{
    color: #4e4e4d;
}
.updates-container{
    text-align: center;
}
.updates-form{
    padding-left: 20%;
    padding-right: 20%;
    background-color: #d0d2cc;
    height: 140px;
    width: 380px;
    margin-left: 16%;
    border-radius: 3;
}
.updates-container form{
    text-align: center;
    margin-bottom: 40px;
}
.email-input{
    margin-top: 60px;
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: #d5d595;
    color: #2a2525ec;
    font-weight: bold;
}
.subscribe-btn{
    background-color: #e00833;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    height: 40px;
    width: 100px;
    margin-left: -30px;
}
.subscribe-btn a{
    text-decoration: none;
    color: #FFF;
}
footer{
    background-color: rgb(34, 32, 32);
    height: 130px;
    text-align: center;
    margin-top: 60px;
}
footer h3{
    font-family: sans-serif;
}
footer p{
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.be-humble{
    color: rgb(206, 14, 53);
}